.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.plus-search-img {
    margin: 1rem 5rem 1rem 1rem;
}

.file-container {
    margin: 1rem 5rem 1rem 5rem;
}

.files{

    background-color: blanchedalmond;
}

.modified{
  visibility: hidden;
}

@import "compass/css3";
 @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
 table {
	 margin: 1em 0;
	 min-width: 300px;
}
 tr {
	 border-top: 1px solid #ddd;
	 border-bottom: 1px solid #ddd;
}
 th {
	 display: none;
}
td {
	 display: block;
}
td:first-child {
	 padding-top: 0.5em;
}
td:last-child {
	 padding-bottom: 0.5em;
}
td:before {
	 content: attr(data-th) ": ";
	 font-weight: bold;
	 width: 6.5em;
	 display: inline-block;
}
 @media (min-width: 480px) {
	 td:before {
		 display: none;
	}
}
 th, td {
	 text-align: left;
}
 @media (min-width: 480px) {
	th, td {
		 display: table-cell;
		 padding: 0.25em 0.5em;
	}
	 th:first-child, td:first-child {
		 padding-left: 0;
	}
	 th:last-child, td:last-child {
		 padding-right: 0;
	}
}
 body {
	 padding: 0 2em;
	 font-family: Montserrat, sans-serif;
	 -webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
	 color: #444;
	 background: #eee;
}
 h1 {
	 font-weight: normal;
	 letter-spacing: -1px;
	 color: #34495e;
}
 table {
	 background: #34495e;
	 color: #fff;
	 border-radius: 0.4em;
	 overflow: hidden;
}
 tr {
	 border-color: #46637f;
}
th, td {
	 margin: 0.5em 1em;
}
 @media (min-width: 480px) {
	 th, td {
		 padding: 1em !important;
	}
}
 th, td:before {
	 color: #dd5;
}
 